empyrical
flask
ipython
matplotlib
nbformat
parameterized
numpy
pandas
pymc
pytz
runipy
scikit-learn
scipy
seaborn
setuptools
pytest
pytest-benchmark
pytest-sugar
pytest-cov
pytest-picked
pytest-xdist
